################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/blog-template/blog-template.Data/DBConnect.cs
